@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'https://cdn.jsdelivr.net/gh/KunalTanwar/tailwind-colors/dist/css/colors.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 16px;
    --background: #ffffff;
    --foreground: #001127;
    --card: #ffffff;
    --card-foreground: #001021;
    --popover: #ffffff;
    --popover-foreground: #001021;
    --primary: #1c1917;
    --primary-foreground: #fafaf9;
    --secondary: #f5f5f4;
    --secondary-foreground: #1c1917;
    --muted: #f5f5f4;
    --muted-foreground: #79716b;
    /*hover bg*/
    --accent: #e5e7eb;
    --accent-foreground: #001021;
    --destructive: #e7000b;
    --border: #e7e5e4;
    --input: #e7e5e4;
    --ring: #a6a09b;
    --chart-1: #f54a00;
    --chart-2: #009689;
    --chart-3: #104e64;
    --chart-4: #ffba00;
    --chart-5: #fd9a00;
    --sidebar: #fafaf9;
    --sidebar-foreground: #001021;
    --sidebar-primary: #1c1917;
    --sidebar-primary-foreground: #fafaf9;
    /*hover bg*/
    --sidebar-accent: #1c1917;
    /*hover*/
    --sidebar-accent-foreground: #f5f5f4;
    --sidebar-border: #e7e5e4;
    --sidebar-ring: #a6a09b;
    --sidebar-background: #fafaf9;
  }

  .dark {
    --background: #001021;
    --foreground: #fafaf9;
    --card: #1c1917;
    --card-foreground: #fafaf9;
    --popover: #1c1917;
    --popover-foreground: #fafaf9;
    --primary: #e7e5e4;
    --primary-foreground: #1c1917;
    --secondary: #292524;
    --secondary-foreground: #fafaf9;
    --muted: #292524;
    --muted-foreground: #a6a09b;
    --accent: #fafaf9;
    --accent-foreground: #001021;
    --destructive: #ff6467;
    --border: rgba(255, 255, 255, 0.1);
    --input: #ffffff26;
    --ring: #79716b;
    --chart-1: #1447e6;
    --chart-2: #00bc7d;
    --chart-3: #fd9a00;
    --chart-4: #ad46ff;
    --chart-5: #ff2056;
    --sidebar: #1c1917;
    --sidebar-foreground: #fafaf9;
    --sidebar-primary: #1447e6;
    --sidebar-primary-foreground: #fafaf9;
    --sidebar-accent: #fafaf9;
    --sidebar-accent-foreground: #001021;
    --sidebar-border: rgba(255, 255, 255, 0.1);
    --sidebar-ring: #79716b;
    --sidebar-background: #001021;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}